.sec1 {
	background-image: url(https://steamuserimages-a.akamaihd.net/ugc/862862503076386616/61EC84F5EF2B67AF8E4BE68B60B778AD6840E7CF/);
	background-size: cover;
}

.header {
	padding: 200px;
	text-align: center;
	text-decoration: wavy;
	color: rgb(48, 47, 47);
	background-color: #ff4814;
	animation: ghost 3s ease-out infinite;
}

@keyframes ghost {
	50% {
		transform: translate(0, 20px);
	}
}

#intro {
	text-align: center;
	color: rgb(17, 17, 17);
}

#text {
	text-align: center;
	color: aqua;
}


.skills{
	padding: 100px;
	margin: auto;
	text-align: center;
	color: greenyellow;
}

#Project1 {
	padding:3%;
	width: 500px;
	height: 400px;
	background-color: orange;
	border-radius: 8px;
}

#Project2 {
	padding:3%;
	width: 500px;
	height: 400px;
	background-color: orange;
	border-radius: 8px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-container > div {
	width: 100px;
	margin: 120px;
	text-align: center;
}
